@charset "utf-8";
#tbody  .paragraph {
	font-size: 20px;
	text-align: justify;
	text-align: left;
	color: #777;
	line-height: 28px;
	padding-top: 20px;
}
#tbody .title {
	font-size: 2em;
	font-weight: bold;
	color: #0a3264;
	margin-bottom: 6px;
	margin-top: 68px;
}
#tbody .address {
	font-size: 20px;
	font-weight: bold;
	color: #777;
	text-align: center;
}
#tbody .plable {
	font-size: 16px;
	line-height: 28px;
	text-align: center;
	margin: 6px 0px 36px 0px;
}
#tbody .phase{
	font-size: 16px;
	line-height: 28px;
	margin-top: 6px;
	text-align: center;
}
#tbody .MapAdress img {
	margin: 30px 0px 30px 0px;
}
#tbody .MapAdress p {
	font-size: 16px;
	color: #777;
	text-align: center;
}
.imgswitch {
	background: url('../img/AboutUs-img/关于我们.jpg') no-repeat;
	display: inline-block;
	height: 360px;
	width: 100%;
	background-position: 80% 50%;
	background-size: cover;
}
.imgswitch .english {
    font-size: 40px;
    color: #3ca5c3;
    margin: 130px 0px 0px 16px;
    font-weight: bold;
    /* text-shadow: 5px 2px 6px #000; */
}
.imgswitch .china {
	font-size: 28px;
	font-weight: bold;
    color: white;
    margin: 0px 0px 0px 16px;
}
.advertising h3{
	font-size: 20px;
	text-align: center;
	padding: 15px 0px 68px 0px;
}
.footer{
	margin-bottom: 40px;
}
.hint{
	font-size: 12px;
	text-align: center
}

/* 小屏幕（平板，大于等于 768px） */

@media (min-width: 768px) {
	#tbody  .paragraph {
		font-size: 20px;
		text-align: justify;
		color: #777;
		line-height: 28px;
	}
	#tbody .title {
		font-size: 34px;
		font-weight: bold;
		color: #0a3264;
		margin-bottom: 18px;
		margin-top: 108px;
	}
	#tbody .address {
		font-size: 20px;
		font-weight: bold;
		color: #777;
		text-align: center;
	}
	#tbody .plable {
		font-size: 16px;
		line-height: 28px;
		text-align: center;
		margin: 6px 0px 36px 0px;
	}
	#tbody .MapAdress img {
		margin: 30px 0px 30px 0px;
	}
	#tbody .MapAdress p {
		font-size: 16px;
		color: #777;
		text-align: center;
	}
	.imgswitch {
		background: url('../img/AboutUs-img/关于我们.jpg') no-repeat;
		display: inline-block;
		height: 536px;
		width: 100%;
		background-position: 98% 50%;
		background-size: cover;
	}
	.imgswitch .english {
		font-size: 60px;
		color: #3ca5c3;
		margin: 150px 0px 0px 26px;
		font-weight: bold;
		/* text-shadow: 5px 2px 6px #000; */
	}
	.imgswitch .china {
		font-size: 38px;
		color: white;
		margin: 0px 0px 0px 26px;
	}
	.advertising h3{
		font-size: 20px;
		text-align: center;
		padding: 15px 0px 68px 0px;
	}
	.footer{
		margin-bottom: 65px;
	}
	.hint{
		font-size: 12px;
		text-align: center
	}
}


/* 中等屏幕（桌面显示器，大于等于 992px） */

@media (min-width: 992px) {
	#tbody  .paragraph {
		font-size: 20px;
		text-align: justify;
		color: #777;
		line-height: 28px;
	}
	#tbody .title {
		font-size: 34px;
		font-weight: bold;
		color: #0a3264;
		margin-bottom: 18px;
		margin-top: 68px;
	}
	#tbody .address {
		font-size: 20px;
		font-weight: bold;
		color: #777;
		text-align: center;
	}
	#tbody .plable {
		font-size: 16px;
		line-height: 28px;
		text-align: center;
		margin: 6px 0px 36px 0px;
	}
	#tbody .MapAdress img {
		margin: 30px 0px 30px 0px;
	}
	#tbody .MapAdress p {
		font-size: 16px;
		color: #777;
		text-align: center;
	}
	.imgswitch {
		background: url('../img/AboutUs-img/关于我们.jpg') no-repeat;
		display: inline-block;
		height: 536px;
		width: 100%;
		background-position: 38% 50%;
		background-size: cover;
	}
	.imgswitch .english {
		font-size: 80px;
		color: #3ca5c3;
		margin: 150px 0px 0px 110px;
		font-weight: bold;
		/* text-shadow: 5px 2px 6px #000; */
	}
	.imgswitch .china {
		font-size: 48px;
		color: white;
		margin: 0px 0px 0px 110px;
	}
	.advertising h3{
		font-size: 20px;
		text-align: center;
		padding: 15px 0px 68px 0px;
	}
	.footer{
		margin-bottom: 65px;
	}
	.hint{
		font-size: 12px;
		text-align: center
	}
}


/* 大屏幕（大桌面显示器，大于等于 1200px） */

@media (min-width: 1200px) {

	#tbody  .paragraph {
		font-size: 20px;
		color: #777;
		line-height: 28px;
		text-align: justify;
		padding:25px 75px 0px;
	}
	#tbody .title {
		font-size: 34px;
		font-weight: bold;
		color: #0a3264;
		margin-top: 168px;
	}
	#tbody .address {
		font-size: 20px;
		font-weight: bold;
		color: #777;
		text-align: center;
	}
	#tbody .plable {
		font-size: 16px;
		line-height: 28px;
		text-align: center;
		margin: 6px 0px 36px 0px;
	}
	#tbody .MapAdress img {
		margin: 30px 0px 30px 0px;
	}
	#tbody .MapAdress p {
		font-size: 16px;
		color: #777;
		text-align: center;
	}
	.imgswitch {
		background: url('../img/AboutUs-img/关于我们.jpg') no-repeat;
		display: inline-block;
		height: 536px;
		width: 100%;
		background-position: 38% 50%;
		background-size: cover;
	}
	.imgswitch .english {
		font-size: 60px;
		color: #3ca5c3;
		margin: 200px 0px 0px 380px;
		font-weight:bold;
		/* text-shadow:5px 2px 6px #000; */
	}
	.imgswitch .china {
		font-size: 34px;
		font-weight: bold;
		color: white;
		margin: 0px 0px 0px 380px;
	}
	.advertising h3{
		font-size: 20px;
		text-align: center;
		padding: 15px 0px 68px 0px;
	}
	.footer{
		margin-top: 60px;
		margin-bottom: 150px;
	}
	.hint{
		font-size: 12px;
		text-align: center;
	}
}